/********************
LANDING PAGE
*********************/

.logo {
  width: 200px;
  height: 200px;
  margin-bottom: 50px;
}

.fruit {
  height: 100px;
  width: 100px;
  vertical-align: center;
}

.token {
  display: inline-block;
}


.hide {
  display: none;
}

#user1Token, #user2Token {
  width: 100px;
  height: 100px;
}

#user2Info, #user1Info {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

/********************
GAME PAGE
*********************/

.wrapper {
  background-color: rgba(105, 137, 237, 1);
  padding: 10px;
  margin: 0;
}

#reset {
  border: 2px solid black;
  width: 100px;
  display: inline-block;
  text-align: center;
}

ul {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

div {
  margin: 40px auto;
  text-align: center;
}

/********************
BOARD
*********************/
li {
  width: 150px;
  height: 150px;
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 202, 203, 1);
  border-radius: 20px;
  position: relative;
}

li:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
  -webkit-animation-name: enlarge;
          animation-name: enlarge;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes enlarge {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes enlarge {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.cross {
  background-image: url('../images/strawberry.png');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
}

.nought {
  background-image: url('../images/watermelon.png');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
}

.board {
  background-color: rgba(82, 191, 89, 1);
  width: 520px;
  margin: 0 auto;
  text-align: center;
  border-radius: 30px;
  border: 5px solid rgba(247, 232, 118, 1);
}

.row1 {
  padding-top: 25px;
}

.row3 {
  padding-bottom: 25px;
}