#reset {
  border: 2px solid black;
  width: 100px;
  display: inline-block;
  text-align: center;
}

li {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  display: inline-block;
}

ul {
  margin: 20px auto;
  text-align: center;
}

div {
  margin: 40px auto;
  text-align: center;
}

.cross {
  background-color: red;
}

.nought {
  background-color: blue; 
}

/********************
LANDING PAGE
*********************/

.logo {
  width: 200px;
  height: 200px;
  margin-bottom: 50px;
}

.hide {
  display: none;
}

.tokens {
  display: none;
}

#user1Token, #user2Token {
  width: 100px;
  height: 100px;
}

#user2Info, #user1Info {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}